body
{
    text-align: center;
}
#wspLogo
{
    text-align: right;
}
.avatar
{
    border-radius: 6em;
    height: 50px;
    width: 50px;
}
.pnlUsuario span
{
    margin: 1em;
    vertical-align: middle;
}